.footer {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
    align-items: center;
}

.footer__icon:where(:link, :visited) {
        text-decoration: none;
        color: var(--color-font-primary);
        font-family: 'DM Mono', monospace;
        font-size: 3.2rem;
        font-weight: 500;
}

.footer__box {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.footer__box img {
    width: 3.5rem;
    height: 3.5rem;
}